
body {
    background-color: #161228;
    font-family: "Permanent Marker", cursive;
    margin: 40px;
}
h1{
    color: #bf76bf;
    font-size: 48px;
    text-align: center;
}
h2 {
    color:#975F8F;
    border-bottom: 2px soild rgb(186, 84, 186);
    text-align: center;
}
p {
    font-size: 18px;
    line-height: 1.5;
    color: #cc9cd5;
}
a {
    color: rgb(239, 200, 229);
}
img{
    width: 400px;
    border: 5px solid gainsboro;
    border-radius: 20px;
}
li {
    color: rgb(180, 146, 215);
    margin: 10px;
}
button{
    background-color:  #bea7b9;
}
blockquote{
    color: #bf76bf;
}